<template>
  <div id="app">
    <Head />
    <router-view class="container" />
    <Footer />
  </div>
</template>


<script>
import Head from "@/components/Head.vue"
import Footer from "@/components/Footer.vue";

export default {
  name: "app",
  components: {
    Head,
    Footer,
  },
};
</script>
