<template>
  <div class="container" id="appointments">
    <div style="float: left">
      <router-link
        class="nav-link"
        to="/staff"
        style="text-decoration: underline; color: navy blue"
        ><i class="fa fa-backward" aria-hidden="true"></i> Clinic Home
        Page</router-link
      >
    </div>
    <div style="float: right">
      <router-link
        class="nav-link"
        to="/"
        style="text-decoration: underline; color: navy blue"
        >Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i
      ></router-link>
    </div>
    <br />
    <h4 class="text-primary">Appointments</h4>
    <hr />
    <div v-if="this.formErrors.length">
      <li v-for="(error, e) in formErrors" :key="e" class="text-danger">
        {{ error }}
      </li>
    </div>
    <br />
    <form action="">
      <label for="" class="text-muted">Date of Appointment:</label>
      <input
        type="date"
        class="form-control"
        v-model="newAppointment.date"
        style="background-color: lightblue"
      />
      <br />
      <label for="" class="text-muted">Time of Appointment:</label>
      <input
        type="time"
        class="form-control"
        v-model="newAppointment.time"
        style="background-color: lightblue"
      />
      <br />
      <br />
      <select
        name=""
        id="status"
        class="form-control"
        v-model="newAppointment.status"
        style="width: 50%"
      >
        <option value="" disabled selected>Select a status...</option>
        <option value="Open">Open</option>
        <option value="Closed">Closed</option>
        <option value="Delayed">Delayed</option>
        <option value="Missed">Missed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
      <select
        name=""
        id="location"
        class="form-control"
        v-model="newAppointment.location"
        style="width: 50%"
      >
        <option value="" disabled selected>Select a location...</option>
        <option value="5600 Lely Ln Naples, FL 50432 (Naples)">
          Naples Branch
        </option>
        <option value="13476 Never Cir Fort Myers, FL 78901 (Fort Myers)">
          Fort Myers Branch
        </option>
        <option value="52021 Disney Dream Ave Orlando, FL 00900 (Orlando)">
          Orlando Branch
        </option>
      </select>
      <br />
      <br />
      <select id="patients" class="form-control" style="width: 50%">
        <option value="" disabled selected>Select a patient...</option>
        <option v-for="(pat, i) in patients" v-bind:value="pat._id" :key="i">
          {{ pat.patName }} {{ pat.patLastname }}
        </option>
      </select>

      <select id="doctors" class="form-control" style="width: 50%">
        <option value="" disabled selected>Select a doctor....</option>
        <option v-for="(doc, i) in doctors" v-bind:value="doc._id" :key="i">
          {{ doc.docName }} {{ doc.docLastname }}
        </option>
      </select>
    </form>
    <br />
    <button
      class="btn btn-outline-primary"
      v-if="!fixAppointment"
      @click="addDate"
    >
      Schedule
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-sm"
      v-if="fixAppointment"
      @click="saveChanges"
    >
      save
    </button>
    <button
      type="button"
      class="btn btn-outline-primary btn-sm"
      v-if="fixAppointment"
      @click="cancelEdits"
    >
      cancel
    </button>
    <br />
    <br />
    <br />

    <table id="datesTable" class="display">
      <thead class="table-primary">
        <tr>
          <th>Status</th>
          <th>Location</th>
          <th>Patient Name</th>
          <th>Doctor Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-sceondary" :key="i" v-for="(date, i) in appointments">
          <td>{{ date.status }}</td>
          <td>{{ date.location }}</td>
          <td>{{ date.patientName }}</td>
          <td>{{ date.doctorName }}</td>
          <td>{{ date.date }}</td>
          <td>{{ date.time }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              v-if="!fixAppointment"
              @click="editDate(date)"
            >
              edit
            </button>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              @click="deleteDate(date)"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Appointments",
  data() {
    return {
      formErrors: [],
      doctors: [],
      patients: [],
      appointments: [],
      newAppointment: {
        status: "",
        location: "",
        doctorID: "",
        doctorName: "",
        patientID: "",
        patientName: "",
        date: "",
        time: "",
      },
      branch: "",
      fixAppointment: false,
      fixID: "",
    };
  },
  methods: {
    loadDates: function () {
      let $this = this;

      $.ajax({
        type: "GET",
        url: `${baseURL}/appointments`,
        success: (data, status) => {
          if (status === "success") {
            $this.appointments = JSON.parse(data.appointments);
            $this.doctors = JSON.parse(data.doctors);
            $this.patients = JSON.parse(data.patients);
          }
        },
      });
    },
    searchDates: function () {
      let $this = this;
      $.ajax({
        url: "/finddates",
        type: "GET",
        success: (data, status) => {
          if (status === "success") {
            $this.appointments = JSON.parse(data);
          }
        },
      });
    },
    addDate: function () {
      let $this = this;
      this.formErrors = [];

      if (this.newAppointment.status === "") {
        this.formErrors.push("Please select a status for this appointment.");
      }
      if (this.newAppointment.location === "") {
        this.formErrors.push("Please enter a location for this appointment.");
      }
      if (this.newAppointment.date === "") {
        this.formErrors.push("Please select a date for this appointment.");
      }
      if (this.newAppointment.time === "") {
        this.formErrors.push("Please select a time for this appointment.");
      }
      if (
        this.newAppointment.patientID === "" ||
        this.newAppointment.patientName === ""
      ) {
        this.formErrors.push("Please select a patient.");
      }
      if (
        this.newAppointment.doctorID === "" ||
        this.newAppointment.doctorName === ""
      ) {
        this.formErrors.push("Please select a doctor.");
      }

      // checking if date and time requested are available
      var unavailable = false;
      for (let index = 0; index < this.appointments.length; index++) {
        if (
          this.newAppointment.date === this.appointments[index].date &&
          this.newAppointment.time === this.appointments[index].time &&
          this.newAppointment.location === this.appointments[index].location
        ) {
          unavailable = true;
          swal(
            "Choose another date, time, and/or location.",
            `${this.branch} is booked at ${this.newAppointment.time} on  ${this.newAppointment.date}.`,
            "info"
          );
        }
      }

      if (
        this.newAppointment.status != "" &&
        this.newAppointment.location != "" &&
        this.newAppointment.date != "" &&
        this.newAppointment.time != "" &&
        this.newAppointment.patientID != "" &&
        this.newAppointment.patientName != "" &&
        this.newAppointment.doctorID != "" &&
        this.newAppointment.doctorName != "" &&
        unavailable === false
      ) {
        this.formErrors = [];

        $.ajax({
          type: "POST",
          url: `${baseURL}/appointments/savedate`,
          data: $this.newAppointment,
          success: (data, status) => {
            if (status === "success") {
              $this.loadDates();
              swal(
                "New Appointment!",
                `${$this.newAppointment.date} at ${$this.newAppointment.time} on ${this.branch}.`,
                "success"
              );
              for (const key in this.newAppointment) {
                this.newAppointment[key] = "";
              }
              $("#status").val(null).trigger("change");
              $("#location").val(null).trigger("change");
              $("#patients").val(null).trigger("change");
              $("#doctors").val(null).trigger("change");
            }
          },
        });
      }
    },
    editDate: function (date) {
      this.fixID = date._id;
      $("#status").val(date.status).trigger("change");
      $("#location").val(date.location).trigger("change");
      $("#patients").val(date.patientID).trigger("change");
      $("#doctors").val(date.doctorID).trigger("change");
      this.newAppointment.date = date.date;
      this.newAppointment.time = date.time;
      this.fixAppointment = true;
    },
    cancelEdits: function () {
      this.fixAppointment = false;
      this.formErrors = [];
      $("#status").val(null).trigger("change");
      $("#location").val(null).trigger("change");
      $("#patients").val(null).trigger("change");
      $("#doctors").val(null).trigger("change");
      for (const key in this.newAppointment) {
        this.newAppointment[key] = "";
      }
    },
    saveChanges: function () {
      let $this = this;
      this.formErrors = [];

      if (this.newAppointment.status === "") {
        this.formErrors.push("Please select a status for this appointment.");
      }
      if (this.newAppointment.location === "") {
        this.formErrors.push("Please enter a location for this appointment.");
      }
      if (this.newAppointment.date === "") {
        this.formErrors.push("Please select a date for this appointment.");
      }
      if (this.newAppointment.time === "") {
        this.formErrors.push("Please select a time for this appointment.");
      }
      if (
        this.newAppointment.patientID === "" ||
        this.newAppointment.patientName === ""
      ) {
        this.formErrors.push("Please select a patient.");
      }
      if (
        this.newAppointment.doctorID === "" ||
        this.newAppointment.doctorName === ""
      ) {
        this.formErrors.push("Please select a doctor.");
      }

      // checking if date and time requested are available
      var unavailable = false;
      for (let index = 0; index < this.appointments.length; index++) {
        if (
          this.newAppointment.date === this.appointments[index].date &&
          this.newAppointment.time === this.appointments[index].time &&
          this.newAppointment.location === this.appointments[index].location
        ) {
          unavailable = true;
          swal(
            "Choose another date, time, and/or location.",
            `${this.branch} is booked at ${this.newAppointment.time} on  ${this.newAppointment.date}.`,
            "info"
          );
        }
      }

      if (
        this.newAppointment.status != "" &&
        this.newAppointment.location != "" &&
        this.newAppointment.date != "" &&
        this.newAppointment.time != "" &&
        this.newAppointment.patientID != "" &&
        this.newAppointment.patientName != "" &&
        this.newAppointment.doctorID != "" &&
        this.newAppointment.doctorName != "" &&
        unavailable === false
      ) {
        this.formErrors = [];

        $.ajax({
          type: "PUT",
          url: `${baseURL}/appointments/editdate/${$this.fixID}`,
          data: $this.newAppointment,
          success: (data, status) => {
            if (status === "success") {
              $this.fixAppointment = false;
              $this.loadDates();
              swal(
                "Saved!",
                `Appointment #${$this.fixID} has been updated.`,
                "success"
              );
              for (const key in $this.newAppointment) {
                $this.newAppointment[key] = "";
              }
              $("#status").val(null).trigger("change");
              $("#location").val(null).trigger("change");
              $("#patients").val(null).trigger("change");
              $("#doctors").val(null).trigger("change");
            }
          },
        });
      }
    },
    deleteDate: function (date) {
      this.fixAppointment = false;
      this.formErrors = [];
      var confirmation = prompt(
        "DELETE: Enter *yes* to delete this appointment.",
        ""
      );
      if (confirmation === "yes") {
        let $this = this;
        $.ajax({
          type: "DELETE",
          url: `${baseURL}/appointments/deletedate/${date._id}`,
          success: (data, status) => {
            if (status === "success") {
              $this.loadDates();
              swal(
                "Deleted.",
                "This appointment was successfully removed.",
                "info"
              );
            }
          },
        });
      } else {
        swal(
          "Delete Process Cancelled!",
          "This appointment was not confirmed.",
          "warning"
        );
      }
    },
  },
  mounted() {
    $("#datesTable").DataTable();
    this.loadDates();
    $("#patients").select2();
    $("#doctors").select2();
    $("#status").select2();
    $("#location").select2();

    $("#status").on("change", () => {
      this.newAppointment.status = $("#status").val();
    });

    $("#location").on("change", () => {
      this.newAppointment.location = $("#location").val();
      this.branch = $("#location option:selected").text();
    });
    $("#patients").on("change", () => {
      this.newAppointment.patientID = $("#patients").val();
      this.newAppointment.patientName = $("#patients option:selected").text();
    });

    $("#doctors").on("change", () => {
      this.newAppointment.doctorID = $("#doctors").val();
      this.newAppointment.doctorName = $("#doctors option:selected").text();
    });
  },
  watch: {
    searchParam: function (value) {
      if (value === "") {
        this.searchDates();
      }
    },
    appointments: function (value) {
      $("#datesTable").DataTable().destroy();
      this.$nextTick((value) => {
        $("#datesTable").DataTable();
      });
    },
  },
};
</script>

<style>
.container {
  text-align: center;
}
</style>