<template>
  <div class="container" id="home">
    <h2 class="text-primary" style="padding-top: 21px">
      ~ Welcome to Our Clinic <i class="fa fa-user-md" aria-hidden="true"></i> ~
    </h2>

    <!-- Checking if user is an administrator or part of the clinic -->
    <div class="row">
      <div class="column">
        <div class="card border-info mb-3" style="max-width: 20rem">
          <div class="card-body"></div>
          <img src="@/assets/admin.jpg" alt="" height="200px" width="300px" />
          <div class="card-body">
            <p class="card-text">
              Are you a system administrator?
              <button
                type="button"
                class="btn btn-info btn-sm"
                @click="adminConfirmed"
              >
                yes
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card border-primary mb-3" style="max-width: 20rem">
          <div class="card-body"></div>
          <img src="@/assets/staff.jpeg" alt="" height="200px" width="300px" />
          <div class="card-body">
            <p class="card-text">
              Are you part of the clinic staff?
              <button
                type="button"
                class="btn btn-primary btn-sm"
                @click="staffConfirmed"
              >
                yes
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- System administrator login modal -->
    <div class="modal" tabindex="-1" role="dialog" id="adminModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info">System Administrator Log In</h5>
            <img src="@/assets/admin.jpg" alt="" height="200px" width="300px" />
          </div>
          <div class="modal-body">
            <div v-if="this.adminLoginErrors.length">
              <li
                v-for="(error, e) in adminLoginErrors"
                :key="e"
                class="text-danger"
              >
                {{ error }}
              </li>
            </div>
            <!-- if the username and/or password is correct/incorrect, the input styles change depending on adminUserCorrect and/or adminPassCorrect -->

            <form action="">
              <input
                v-if="adminUserCorrect"
                type="text"
                class="form-control"
                placeholder="username..."
                style="color: darkblue"
                id="adminUser"
                v-model="adminLogin.user"
              />
              <div class="form-group has-danger" v-if="!adminUserCorrect">
                <input
                  type="text"
                  placeholder="username..."
                  class="form-control is-invalid"
                  id="inputInvalid"
                  v-model="adminLogin.user"
                />
                <div class="invalid-feedback">
                  Username not found. Please try again.
                </div>
              </div>
              <br />
              <input
                v-if="adminPassCorrect"
                type="password"
                id="adminPass"
                placeholder="password..."
                style="color: darkblue"
                class="form-control"
                v-model="adminLogin.pass"
              />
              <div class="form-group has-danger" v-if="!adminPassCorrect">
                <input
                  type="password"
                  placeholder="password..."
                  class="form-control is-invalid inputInvalid"
                  v-model="adminLogin.pass"
                />
                <div class="invalid-feedback">
                  Incorrect password. Please try again.
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" @click="systemLogin">
              Log In
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Clinic staff login modal -->
    <div class="modal" tabindex="-1" role="dialog" id="staffModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-primary">Clinic Staff Log In</h5>
            <img
              src="@/assets/staff.jpeg"
              alt=""
              height="200px"
              width="300px"
            />
          </div>
          <div class="modal-body">
            <div v-if="this.staffLoginErrors">
              <li
                v-for="(error, i) in staffLoginErrors"
                :key="i"
                class="text-danger"
              >
                {{ error }}
              </li>
            </div>
            <form action="">
              <input
                v-if="staffUserCorrect"
                type="text"
                id="staffUser"
                placeholder="username..."
                class="form-control"
                v-model="staffLogin.user"
              />
              <br />
              <input
                v-if="staffPassCorrect"
                type="password"
                id="staffPass"
                placeholder="password..."
                class="form-control"
                v-model="staffLogin.pass"
              />
              <!-- if the username and/or password is incorrect, the input styles change depending on staffUserCorrect and/or staffPassCorrect -->
              <div class="form-group has-danger" v-if="!staffUserCorrect">
                <input
                  type="text"
                  placeholder="username..."
                  class="form-control is-invalid"
                  id="inputInvalid"
                  v-model="staffLogin.user"
                />
                <div class="invalid-feedback">
                  Username not found. Please try again.
                </div>
              </div>
              <div class="form-group has-danger" v-if="!staffPassCorrect">
                <input
                  type="password"
                  placeholder="password..."
                  class="form-control is-invalid inputInvalid"
                  v-model="staffLogin.pass"
                />
                <div class="invalid-feedback">
                  Incorrect password. Please try again.
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="clinicLogin">
              Log In
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ajax } from "jquery";
export default {
  name: "Home",
  data() {
    return {
      staffLoginErrors: [],
      adminLoginErrors: [],
      staff: [],
      administration: [],
      isStaff: false,
      isAdmin: false,
      staffLogin: {
        user: "",
        pass: "",
      },
      staffUserCorrect: false,
      staffPassCorrect: false,
      adminLogin: {
        user: "",
        pass: "",
      },
      adminUserCorrect: false,
      adminPassCorrect: false,
    };
  },
  methods: {
    loadAll: function () {
      let $this = this;
      $.ajax({
        type: "GET",
        url: `${baseURL}/`,
        success: (data, status) => {
          if (status === "success") {
            $this.administration = JSON.parse(data.administration);
            $this.staff = JSON.parse(data.staff);
          }
        },
      });
    },

    // login for administrators
    adminConfirmed: function () {
      this.isAdmin = true;
      this.isStaff = false;
      $("#adminModal").modal("show");
    },
    systemLogin: function () {
      this.adminLoginErrors = [];
      // checking if form is empty
      if (this.adminLogin.user === "") {
        this.adminLoginErrors.push("Please enter your username.");
        $("#adminUser").focus();
      }
      if (this.adminLogin.pass === "") {
        this.adminLoginErrors.push("Please enter your password.");
        $("#adminPass").focus();
      }

      if (this.adminLogin.user != "" && this.adminLogin.pass != "") {
        this.adminLoginErrors = [];
        let $this = this;
        var userCorrectVerifier = 0;

        // verifying the username and password
        for (let a = 0; a < this.administration.length; a++) {
          if (this.adminLogin.user === this.administration[a].user) {
            this.adminUserCorrect = true;
            userCorrectVerifier++;

            // if login is successful
            if (this.adminLogin.pass === this.administration[a].pass) {
              this.adminPassCorrect = true;
              this.$router.push("/admin");
              this.$router.go(0);
            }
            // if only the password is incorrect
            else if (this.adminLogin.pass != this.administration[a].pass) {
              this.adminPassCorrect = false;
              return;
            }
          }
        }
      }

      // if the username is incorrect
      if (userCorrectVerifier != 1) {
        this.adminUserCorrect = false;
        this.adminPassCorrect = false;
      }
    },

    // login for clinic staff
    staffConfirmed: function () {
      this.isStaff = true;
      this.isAdmin = false;
      $("#staffModal").modal("show");
    },
    clinicLogin: function () {
      this.staffLoginErrors = [];
      if (this.staffLogin.user === "") {
        this.staffLoginErrors.push("Please enter your username.");
        $("#staffUser").focus();
      }
      if (this.staffLogin.pass === "") {
        this.staffLoginErrors.push("Please enter your password.");
        $("#staffPass").focus();
      }
      if (this.staffLogin.user === "" && this.staffLogin.pass === "") {
        $("#staffUser").focus();
      }

      if (this.staffLogin.user != "" && this.staffLogin.pass != "") {
        this.staffLoginErrors = [];
        let $this = this;
        var userCorrectVerifier = 0;

        // verifying the username and password
        for (let s = 0; s < this.staff.length; s++) {
          if (this.staffLogin.user === this.staff[s].user) {
            this.staffUserCorrect = true;
            userCorrectVerifier++;

            // if login is successful
            if (this.staffLogin.pass === this.staff[s].pass) {
              this.staffPassCorrect = true;
              this.$router.push("/staff");
              this.$router.go(0);
            }
            // if only the password is incorrect
            else if (this.staffLogin.pass != this.staff[s].pass) {
              this.staffPassCorrect = false;
              return;
            }
          }
        }
        // if the username is incorrect
        if (userCorrectVerifier != 1) {
          this.staffUserCorrect = false;
          this.staffPassCorrect = false;
        }
      }
    },
  },
  mounted() {
    this.loadAll();
    this.adminUserCorrect = true;
    this.adminPassCorrect = true;
    this.staffUserCorrect = true;
    this.staffPassCorrect = true;
  },
};
</script>

<style>
.container {
  text-align: center;
  padding: 10px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  margin: auto;
  width: 50%;
  padding-left: 100px;
  padding-top: 21px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
</style>