<template>
  <div id="managestaff">
    <div style="float: left">
      <router-link
        class="nav-link"
        to="/admin"
        style="text-decoration: underline; color: navy blue"
        ><i class="fa fa-backward" aria-hidden="true"></i> Administration Home
        Page</router-link
      >
    </div>
    <div style="float: right">
      <router-link
        class="nav-link"
        to="/"
        style="text-decoration: underline; color: navy blue"
        >Sign Out of Administration
        <i class="fa fa-sign-out" aria-hidden="true"></i
      ></router-link>
    </div>
    <br />
    <br />
    <h4 class="text-primary">Clinic Staff</h4>
    <hr />
    <div v-if="this.staffFormErrors.length">
      <li v-for="(error, e) in staffFormErrors" :key="e" class="text-danger">
        {{ error }}
      </li>
    </div>
    <br />

    <form action="">
      <label for="" class="text-success">Full Name:</label>
      <input type="text" class="form-control" v-model="staffForm.name" />
      <br />
      <label for="" class="text-success">Email:</label>
      <input type="email" class="form-control" v-model="staffForm.email" />
      <br />
      <label for="" class="text-success">Username:</label>
      <input type="text" class="form-control" v-model="staffForm.user" />
      <br />
      <label for="" class="text-success">Password:</label>
      <input type="password" class="form-control" v-model="staffForm.pass" />
    </form>
    <br />
    <button
      class="btn btn-outline-primary"
      type="button"
      v-if="!fixStaff"
      @click="addStaff"
    >
      Submit
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-sm"
      v-if="fixStaff"
      @click="saveChanges"
    >
      save
    </button>
    <button
      type="button"
      class="btn btn-outline-primary btn-sm"
      v-if="fixStaff"
      @click="cancelEdit"
    >
      cancel
    </button>
    <br />
    <br />
    <br />

    <table id="staff" class="display">
      <thead class="table-info">
        <tr>
          <th>Clinic Staff Member ID</th>
          <td>Full Name</td>
          <td>Email</td>
          <td>User</td>
          <td>Edit/Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr class="table-sceondary" :key="i" v-for="(cs, i) in staff">
          <td>{{ cs._id }}</td>
          <td>{{ cs.name }}</td>
          <td>{{ cs.email }}</td>
          <td>{{ cs.user }}</td>
          <td>
            <button
              type="button"
              class="btn btn-info btn-sm"
              v-if="!fixStaff"
              @click="editStaff(cs)"
            >
              edit
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              @click="deleteStaff(cs)"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "ManageStaff",
  data() {
    return {
      staff: [],
      staffFormErrors: [],
      staffForm: {
        name: "",
        email: "",
        user: "",
        pass: "",
      },
      fixStaff: false,
      staffID: "",
    };
  },
  methods: {
    loadStaff: function () {
      let $this = this;

      $.ajax({
        type: "GET",
        url: `${baseURL}/manageStaff`,
        success: (data, status) => {
          if (status === "success") {
            $this.staff = JSON.parse(data);
          }
        },
      });
    },
    searchStaff: function () {
      let $this = this;
      $.ajax({
        url: "/findstaff",
        type: "GET",
        success: (data, status) => {
          if (status === "success") {
            $this.staff = JSON.parse(data);
          }
        },
      });
    },
    addStaff: function () {
      this.staffFormErrors = [];

      // verifying email input
      var emailVerifier = 0;
      for (const key in this.staffForm.email) {
        if (this.staffForm.email[key] === "@") {
          emailVerifier++;
        }
      }

      if (this.staffForm.name === "") {
        this.staffFormErrors.push("Please enter new user's full name.");
      }
      if (this.staffForm.email === "" || emailVerifier != 1) {
        this.staffFormErrors.push("Please enter a valid email.");
      }
      if (this.staffForm.user === "") {
        this.staffFormErrors.push("Please enter a username.");
      }
      if (this.staffForm.pass === "") {
        this.staffFormErrors.push("Please enter a password.");
      }
      // checking if there are duplicate entries
      var duplicate = false;
      for (let index = 0; index < this.staff.length; index++) {
        if (
          this.staffForm.name.trim() === this.staff[index].name.trim() &&
          this.staffForm.email.trim() === this.staff[index].email.trim()
        ) {
          duplicate = true;
          swal("Staff Member already exists!", "", "error");
        }
      }

      if (
        this.staffForm.name != "" &&
        this.staffForm.email != "" &&
        emailVerifier === 1 &&
        this.staffForm.user != "" &&
        this.staffForm.pass != "" &&
        duplicate === false
      ) {
        this.staffFormErrors = [];
        let $this = this;

        $.ajax({
          type: "POST",
          url: `${baseURL}/manageStaff/savestaff`,
          data: $this.staffForm,
          success: (data, status) => {
            if (status === "success") {
              $this.loadStaff();
              swal(
                "New Clinic Staff Member!",
                `Welcome to our clinic, ${$this.staffForm.user}.`,
                "success"
              );
              $this.staffForm.name = "";
              $this.staffForm.email = "";
              $this.staffForm.user = "";
              $this.staffForm.pass = "";
            }
          },
        });
      }
    },
    editStaff: function (cs) {
      var password = prompt(
        "To continue, please enter the password for this user:",
        ""
      );
      if (password === cs.pass) {
        this.fixStaff = true;
        this.staffForm.user = cs.user;
        this.staffForm.pass = cs.pass;
        this.staffForm.name = cs.name;
        this.staffForm.email = cs.email;
        this.staffID = cs._id;
      } else {
        swal("Edit Access Denied.", "The password was incorrect.", "error");
      }
    },
    cancelEdit: function () {
      this.fixStaff = false;
      this.staffFormErrors = [];
      this.staffForm.name = "";
      this.staffForm.email = "";
      this.staffForm.user = "";
      this.staffForm.pass = "";
    },
    saveChanges: function () {
      this.staffFormErrors = [];

      // verifying email input
      var emailVerifier = 0;
      for (const key in this.staffForm.email) {
        if (this.staffForm.email[key] === "@") {
          emailVerifier++;
        }
      }

      if (this.staffForm.name === "") {
        this.staffFormErrors.push("Please enter new user's full name.");
      }
      if (this.staffForm.email === "" || emailVerifier != 1) {
        this.staffFormErrors.push("Please enter a valid email.");
      }
      if (this.staffForm.user === "") {
        this.staffFormErrors.push("Please enter a username.");
      }
      if (this.staffForm.pass === "") {
        this.staffFormErrors.push("Please enter a password.");
      }
      // checking if there are duplicate entries
      var duplicate = false;
      for (let index = 0; index < this.staff.length; index++) {
        if (
          this.staffForm.name.trim() === this.staff[index].name.trim() &&
          this.staffForm.email.trim() === this.staff[index].email.trim()
        ) {
          duplicate = true;
          swal("Staff Member already exists!", "", "error");
        }
      }

      if (
        this.staffForm.name != "" &&
        this.staffForm.email != "" &&
        emailVerifier === 1 &&
        this.staffForm.user != "" &&
        this.staffForm.pass != "" &&
        duplicate === false
      ) {
        this.staffFormErrors = [];
        let $this = this;

        $.ajax({
          type: "PUT",
          url: `${baseURL}/manageStaff/editstaff/${$this.staffID}`,
          data: $this.staffForm,
          success: (data, status) => {
            if (status === "success") {
              $this.loadStaff();
              swal(
                "Saved!",
                `Your info has been updated, ${$this.staffForm.user}.`,
                "success"
              );
              $this.staffForm.name = "";
              $this.staffForm.email = "";
              $this.staffForm.user = "";
              $this.staffForm.pass = "";
              $this.fixStaff = false;
            }
          },
        });
      }
    },
    deleteStaff: function (cs) {
      this.fixStaff = false;
      this.staffFormErrors = [];
      var username = prompt("DELETE: Enter username to confirm.", "");
      if (username === cs.user) {
        let $this = this;
        $.ajax({
          type: "DELETE",
          url: `${baseURL}/manageStaff/deletestaff/${cs._id}`,
          success: (data, success) => {
            $this.loadStaff();
            swal("Deleted.", "This user was successfully removed.", "info");
          },
        });
      } else {
        swal(
          "Delete Process Cancelled!",
          "This user was not confirmed.",
          "warning"
        );
      }
    },
  },
  mounted() {
    $("#staff").DataTable();
    this.loadStaff();
  },
  watch: {
    searchParam: function (value) {
      if (value === "") {
        this.searchStaff();
      }
    },
    staff: function (value) {
      $("#staff").DataTable().destroy();
      this.$nextTick(() => {
        $("#staff").DataTable();
      });
    },
  },
};
</script>

<style>
</style>